{% extends 'base.html' %}

{% block title %}Ajouter un Module{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0">Ajouter un Module</h1>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <form method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                    <a href="{% url 'module_list' %}" class="btn btn-secondary">Annuler</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}