{% extends 'base.html' %}

{% block title %}Ajouter un Professeur{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0">Ajouter un Professeur</h1>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <form method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="id_name">Nom du Professeur</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <label for="id_username">Nom d'utilisateur</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="id_password">Mot de passe</label>
                        {{ form.password }}
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                    <a href="{% url 'teacher_list' %}" class="btn btn-secondary">Annuler</a>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}