{% extends 'base.html' %}

{% block title %}Exporter les Cours en PDF{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0">Exporter les Cours en PDF</h1>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <p>Cliquez sur le bouton ci-dessous pour télécharger la liste des cours au format PDF :</p>
        <a href="{% url 'export_courses_pdf' %}" class="btn btn-primary">Télécharger PDF</a>
    </div>
</section>
{% endblock %}