{% extends 'base.html' %}

{% block title %}Liste des Professeurs{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0">Liste des Professeurs</h1>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Professeurs</h3>
                <div class="card-tools">
                    <a href="{% url 'add_teacher' %}" class="btn btn-success btn-sm">Ajouter un Professeur</a>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Nom d'utilisateur</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for teacher in teachers %}
                        <tr>
                            <td>{{ teacher.name }}</td>
                            <td>{{ teacher.user.username }}</td>
                            <td>
                                <a href="{% url 'edit_teacher' teacher.id %}" class="btn btn-sm btn-primary">Modifier</a>
                                <a href="{% url 'delete_teacher' teacher.id %}" class="btn btn-sm btn-danger">Supprimer</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}